/* !RESET */
/* ********************************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !UTILITIES */
/* *********************************** */
.flex-spacebet{
    display: flex;
    justify-content: space-between;
}
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}


/* !COMMONS */
/* ********************************** */
.header{
    height: 70px;
    background-color: rgb(110, 202, 233);
}
img{
    width: 100%;
}

/*!LAYOUT */
/* ************************************ */

/** HEADER */
.menu{
    display: none;   
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    /* debug */
    background-color: lightblue;
    border: 1px solid black;
    margin: 1rem;
}

/**MAIN */
/* planning section */
.planning{
    text-align: center;
    background-color: plum;
    padding: 3rem 0;
}
.planning img{
    width: 70%;
}
.planning p{
    margin: 1rem;
}
.planning .box2{
    background-color: white;
    margin: 0 5rem;
}

/* testimonal section */
.testimonials{
    text-align: center;
    padding: 3rem;
}
.photo-box{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-size:cover;
    background-position: center;
    
}
.testimonial-card{
    text-align: center;
    margin: 1rem 0;
    background-color: plum;
}

/*benefit section*/

.benefit{
    background-color: plum;
    padding: 3rem;
}
.benefit-card{
    background-color: white;
    padding: 2rem;
    margin: 1rem;
}
.benefit h2{
    text-align: center;
}

/* about us section */
.aboutus{
    padding: 3rem;
    
}
.aboutus img{
    width: 180px;
}

/* call to act section */
.calltoact{
    text-align: center;
    padding: 3rem;
    background-color: plum;
}

/* *FOOTER */
footer{
    background-color: rgb(43, 43, 43);
}
.footer{
    padding: 3rem;
    text-align: center;
}




/* !TYPOGRAPHY */
/* ************************************ */
header li{
    list-style: none;
    
}
header a{
    text-decoration: none;
    color: inherit;
}

/* !MEDIA QUERY */
/* **************************************** */

@media screen and (min-width:768px){

    .col{
        display: flex;
    }
    .planning{
        display: flex;
    }
    .testimonial-card{
        display: flex;
    }

    .benefit-card{
        width:calc((100% / 2) - 2rem );
        float: inline-end;
    } 
    .aboutus{
        display: flex;
    }
    .aboutus img{
        width: 250px;
    }
}

@media screen and (min-width:992px){
    .menu{
        display: inline-block;
    }
    .hamburger{
        display: none;
    }
    .container{
        width: 80%;
    } 
    .benefit-card{
        width:calc((100% / 3) - 2rem );
        float:right;
    } 
}