/* !RESET */
/* ********************************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !UTILITIES */
/* *********************************** */
.flex-spacebet{
    display: flex;
    justify-content: space-between;
}


/* !COMMONS */
/* ********************************** */
.header{
    height: 70px;
    background-color: rgb(110, 202, 233);
}
img{
    width: 100%;
}

/*!LAYOUT */
/* ************************************ */

/** HEADER */
.menu{
    display: none;   
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    /* debug */
    background-color: lightblue;
    border: 1px solid black;
    margin: 1rem;
}

/**MAIN */
/* planning section */
.planning{
    text-align: center;
    background-color: plum;
    padding: 3rem 0;
}
.planning img{
    width: 70%;
}
.planning p{
    margin: 1rem;
}
.planning .box{
    background-color: white;
    margin: 0 5rem;
}

/* !TYPOGRAPHY */
/* ************************************ */
header li{
    list-style: none;
    
}
header a{
    text-decoration: none;
    color: inherit;
}

/* !MEDIA QUERY */
/* **************************************** */

/* *HEADER */
@media screen and (min-width:992px) {
    .menu{
        display: inline-block;
    }
    .hamburger{
        display: none;
    }
    .container{
        width: 80%;
    }    
}
@media screen and (min-width:768px){

    .col{
        display: flex;
    }
}
